* {
  margin: 0;
  padding: 0;
}

body {
  font-family: montserrat;
}

.header {
  height: 77px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.8);
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.top {
  height: 735px;
  background-image: url(logoo.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.top-catalog {
  height: 400px;
  background-image: url(catalog/logo.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.top__text {
  width: 792px;
  height: 32px;
  top: 296px;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: left;
  color: rgb(255, 255, 255);
  margin-right: 531px;
}

.header__input {
  height: 41px;
  width: 288px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 20px;
  background: rgb(255, 255, 255);
  box-sizing: border-box;
  background-color: transparent;
  outline: none;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
  padding-left: 32px;
  padding-right: 32px;
}

.header__input::-moz-placeholder {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
}

.header__input::placeholder {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
}

.title {
  top: 140px;
  font-size: 64px;
  font-weight: 600;
  line-height: 70px;
  letter-spacing: 0%;
  text-align: left;
  color: rgb(255, 255, 255);
  margin-top: 63px;
  margin-bottom: 16px;
}

.link {
  position: absolute;
  margin-top: 16px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: underline;
}

.meny {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: flex-end;
  align-items: center;
  gap: 32px;
}

.meny-mob {
  display: none;
}

.meny__link {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.header__logo {
  color: rgb(255, 255, 255);
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: 0%;
}

.for-box {
  padding-top: 64px;
}

.for {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(12, 1fr);
  margin-top: 32px;
}

.for-box__title {
  font-size: 48px;
  font-weight: 600;
  line-height: 59px;
  width: 355px;
  height: 59px;
  left: 120px;
  top: 799px;
}

.for__item {
  height: 415px;
  grid-column: span 4;
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 34px;
  font-weight: 600;
  line-height: 41px;
  letter-spacing: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.for__item_big {
  grid-column: span 6;
}

.for__item_1 {
  background-image: url(for1.jpeg);
}

.for__item_2 {
  background-image: url(for2.jpeg);
}

.for__item_3 {
  background-image: url(for3.jpeg);
}

.for__item_4 {
  background-image: url(for4.jpeg);
}

.for__item_5 {
  background-image: url(for5.jpeg);
}

.product {
  width: 378px;
  display: flex;
  flex-direction: column;
}

.product-box {
  padding-top: 64px;
}

.product-content {
  margin-top: 32px;
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
}

.product__price-box {
  display: flex;
  gap: 32px;
  margin-top: 13px;
}

.product-box__title {
  width: 729px;
  height: 59px;
  color: rgb(0, 0, 0);
  font-size: 48px;
  font-weight: 600;
  line-height: 59px;
  letter-spacing: 0%;
  text-align: left;
}

.product__img {
  width: 100%;
  height: 250px;
  left: 0;
  top: 0;
  background: url(shutterstock_1847267071), rgb(196, 196, 196);
}

.product__title {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
  left: 0;
  top: 260px;
  margin-top: 10px;
  margin-bottom: 9px;
}

.product__text {
  width: 379px;
  height: 37px;
  left: 0;
  top: 298px;
  color: rgb(136, 136, 136);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
}

.product__price {
  color: rgb(5, 5, 5);
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
}

.product__price_old {
  color: rgb(136, 136, 136);
  text-decoration-line: line-through;
}

.catalog-box {
  margin-top: 64px;
}

.catalog {
  width: 378px;
  display: flex;
  flex-direction: column;
}

.catalog-content {
  padding-top: 32px;
  display: flex;
  -moz-column-gap: 32px;
  column-gap: 32px;
  row-gap: 56px;
  flex-wrap: wrap;
}

.catalog__price {
  color: rgb(5, 5, 5);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 12px;
}

.catalog-box__title {
  width: 423px;
  height: 59px;
  font-size: 48px;
  font-weight: 600;
  line-height: 59px;
}

.catalog__img {
  width: 379px;
  height: 250px;
  left: 0;
  top: 0;
  background: url(shutterstock_1074071576), rgb(196, 196, 196);
}

.catalog__name {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 8px;
}

.catalog__text {
  color: rgb(136, 136, 136);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
}

.nav {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 39px;
  margin-bottom: 64px;
}

.nav__katalog {
  color: rgb(0, 0, 0);
  width: 155px;
  height: 24px;
  left: 122px;
  top: 3295px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: underline;
}

.footer__block {
  padding-bottom: 59px;
}

.footer {
  background-image: url(Rectangle\ 28.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 32px;
}

.footer-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer_logo {
  width: 198px;
  height: 44px;
  left: 120px;
  top: 3415px;
}

.footer__title {
  display: flex;
  width: 76px;
  height: 29px;
  left: 530;
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
  padding-bottom: 12px;
  gap: 12px;
}

.footer__link {
  color: rgb(136, 136, 136);
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
}

.footer__nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  row-gap: 12px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__link {
  text-decoration: none;
}

.footer__kontakt {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  color: rgb(136, 136, 136);
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
  gap: 3px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__img {
  display: flex;
  gap: 20px;
}

.footer__nws {
  color: rgb(0, 0, 0);
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0%;
  text-align: left;
}

.footer__input {
  font-family: Montserrat;
  box-sizing: border-box;
  border: 1px solid rgb(196, 196, 196);
  border-radius: 16px;
  background: rgb(255, 255, 255);
  width: 260px;
  height: 40px;
  left: 1059px;
  top: 3438px;
  margin-top: 8px;
  margin-bottom: 8px;
  padding-left: 17px;
  padding-right: 174px;
}

.footer__input::-moz-placeholder {
  color: rgb(196, 196, 196);
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0%;
  text-align: left;
  width: 69px;
  height: 15px;
  left: 1076px;
  top: 3450px;
  font-family: Montserrat;
}

.footer__input::placeholder {
  color: rgb(196, 196, 196);
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0%;
  text-align: left;
  width: 69px;
  height: 15px;
  left: 1076px;
  top: 3450px;
  font-family: Montserrat;
}

.footer__knopka {
  width: 260px;
  height: 40px;
  left: 1059px;
  top: 3486px;
  border-radius: 16px;
  background: rgba(222, 215, 215, 0.41);
  font-family: Montserrat;
  border: none;
}

@media (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 393px);
    padding-right: calc(50% - 393px);
  }
  .for__item {
    height: 268px;
  }
  .title {
    width: 786px;
    height: 140px;
  }
  .product {
    width: 345px;
  }
  .product-content {
    row-gap: 39px;
    -moz-column-gap: 29px;
         column-gap: 29px;
  }
  .catalog-content {
    row-gap: 39px;
    -moz-column-gap: 29px;
         column-gap: 29px;
  }
  .catalog__img {
    width: 345px;
  }
  .catalog {
    width: 345px;
  }
  .footer-box {
    display: flex;
    justify-content: flex-start;
  }
  .footer__content {
    margin-left: 58px;
    margin-bottom: 33px;
  }
  .footer__block {
    margin-left: auto;
    margin-right: 130px;
  }
  .footer__logo {
    display: none;
  }
}
@media (max-width: 1024px) and (min-width: 768px) and (max-width: 833px) {
  .center {
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .header {
    padding-top: 32px;
    border-bottom: none;
  }
  .header__input {
    display: none;
  }
  .header__logo {
    width: 99px;
  }
  .meny {
    display: none;
  }
  .meny-mob {
    display: flex;
    align-items: center;
    gap: 32px;
  }
  .title {
    width: 343px;
    height: 177px;
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    line-height: 59px;
  }
  .top__text {
    width: 343px;
    height: 32px;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
  }
  .link {
    width: 343px;
    height: 24px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
  }
  .for-box__title {
    width: 178px;
    height: 29px;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
  }
  .for {
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
  }
  .for__item {
    grid-column: 1/-1;
    height: 375px;
    font-size: 28px;
    line-height: 34px;
  }
  .for__item__big {
    height: 244px;
  }
  .product-box__title {
    width: 342.91px;
    height: 58px;
    font-size: 24px;
    line-height: 29px;
  }
  .product__title {
    font-size: 18px;
    line-height: 22px;
  }
  .catalog-box__title {
    width: 212px;
    height: 29px;
    font-size: 24px;
    line-height: 29px;
  }
  .product__price {
    font-size: 18px;
    line-height: 22px;
  }
  .catalog__name {
    font-size: 18px;
    line-height: 22px;
  }
  .footer__logo {
    display: none;
  }
  .catalog__price {
    font-size: 18px;
    line-height: 22px;
  }
  .footer-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .footer__content {
    margin-left: 58px;
    margin-bottom: 33px;
  }
  .footer__block {
    margin-left: auto;
    margin-right: 39px;
  }
}

.top-korz {
  height: 400px;
  background: url(korzina/topheader.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.heading {
  margin-top: 127px;
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-weight: 600;
  line-height: 70px;
}

.cart-box {
  display: flex;
  gap: 8px;
}

.cart {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-top: 64px;
  gap: 32px;
}
.cart__form {
  border-radius: 20px;
  background: rgb(247, 246, 246);
  height: 556px;
  grid-column: span 4;
}
.cart__content {
  grid-column: span 8;
}
.cart__name-box {
  display: flex;
  justify-content: space-between;
  padding-bottom: 14px;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
.cart__item {
  border-top: 0.5px solid rgb(202, 205, 216);
  padding-top: 25px;
  padding-bottom: 32px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.cart__info {
  width: 276px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.cart__left {
  display: flex;
  gap: 32px;
}
.cart__link {
  text-decoration: none;
  margin-right: 30px;
  width: 85px;
  height: 29px;
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 400;
  line-height: 210%;
  text-align: center;
  text-decoration-line: underline;
}
.cart__title {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
}
.cart__text {
  color: rgb(136, 136, 136);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}
.cart__price {
  color: rgb(5, 5, 5);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}
.cart__input {
  width: 288px;
  height: 143px;
  margin-left: 27px;
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cart__input-text {
  border: none;
  background: none;
  color: #000000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  background: #f7f6f6;
  border-bottom: 1px solid #cacdd8;
}
.cart__form-price {
  color: #000000;
  font-size: 24px;
  font-weight: 0;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: center;
  margin-top: 64px;
}
.cart__form-itog {
  color: #000000;
  font-size: 24px;
  font-weight: 500px;
  line-height: 29px;
  text-align: center;
  margin-top: 64px;
}
.cart__number {
  border-radius: 6px;
  background: rgb(247, 246, 246);
  width: 71px;
  height: 51px;
  border: #FFFFFF;
  color: #000000;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0px;
  text-align: center;
}
.cart__form-button {
  display: flex;
  justify-content: center;
  margin-top: 18px;
}
.cart__button {
  width: 290px;
  height: 41px;
  background-color: transparent;
  color: #000000;
  font-size: 16px;
  font-weight: 400px;
  line-height: 20px;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 50px;
}
.cart__form-box {
  position: relative;
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  margin-top: 42px;
}
.cart__button-block {
  width: 200px;
  height: 37px;
  background-color: transparent;
  color: #000000;
  font-size: 16px;
  font-weight: 400px;
  line-height: 20px;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 50px;
}
.cart__button-block::-moz-placeholder {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
}
.cart__button-block::placeholder {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
}
.cart__name {
  border: 1px solid rgb(202, 205, 216);
  padding-top: 1px;
  border: none;
}

@media (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 393px);
    padding-right: calc(50% - 393px);
  }
  .for__item {
    height: 268px;
  }
  .title {
    width: 786px;
    height: 140px;
  }
  .product {
    width: 345px;
  }
  .product-content {
    row-gap: 39px;
    -moz-column-gap: 29px;
         column-gap: 29px;
  }
  .catalog-content {
    row-gap: 39px;
    -moz-column-gap: 29px;
         column-gap: 29px;
  }
  .catalog__img {
    width: 345px;
  }
  .catalog {
    width: 345px;
  }
  .footer-box {
    display: flex;
    justify-content: flex-start;
  }
  .footer__content {
    margin-left: 58px;
    margin-bottom: 33px;
  }
  .footer__block {
    margin-left: auto;
    margin-right: 130px;
  }
  .footer__logo {
    display: none;
  }
  .footer__logo {
    display: none;
  }
}
@media (max-width: 1024px) and (min-width: 768px) and (max-width: 833px) {
  .center {
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .header {
    padding-top: 32px;
    border-bottom: none;
  }
  .header__input {
    display: none;
  }
  .header__logo {
    width: 99px;
  }
  .meny {
    display: none;
  }
  .meny-mob {
    display: flex;
    align-items: center;
    gap: 32px;
  }
  .title {
    width: 343px;
    height: 177px;
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    line-height: 59px;
  }
  .top__text {
    width: 343px;
    height: 32px;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
  }
  .link {
    width: 343px;
    height: 24px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
  }
  .for-box__title {
    width: 178px;
    height: 29px;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
  }
  .for {
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
  }
  .for__item {
    grid-column: 1/-1;
    height: 375px;
    font-size: 28px;
    line-height: 34px;
  }
  .for__item__big {
    height: 244px;
  }
  .product-box__title {
    width: 342.91px;
    height: 58px;
    font-size: 24px;
    line-height: 29px;
  }
  .product__title {
    font-size: 18px;
    line-height: 22px;
  }
  .catalog-box__title {
    width: 212px;
    height: 29px;
    font-size: 24px;
    line-height: 29px;
  }
  .product__price {
    font-size: 18px;
    line-height: 22px;
  }
  .catalog__name {
    font-size: 18px;
    line-height: 22px;
  }
  .footer__logo {
    display: none;
  }
  .catalog__price {
    font-size: 18px;
    line-height: 22px;
  }
  .footer-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .footer__content {
    margin-left: 58px;
    margin-bottom: 33px;
  }
  .footer__block {
    margin-left: auto;
    margin-right: 39px;
  }
}/*# sourceMappingURL=style.css.map */